/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color:#fff
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:4px solid #fff
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {display:none}

/*body{
    margin:0px !important;
}*/

#page-container{
    display:inline-block !important;
    height: 100% !important;
    width:100% !important;
    padding-top: 5px;
    position: relative;
    background-image: none !important;
    background-color: #878787 !important;
}

#sidebar{
    display:inline-block !important;
    /*position:relative !important;*/
    height: 100% !important;
    /*display: none !important;*/
}

#reader-div{
    float:left;
    width: 56% !important;
    height:100% !important;
    /*overflow: auto;*/
    /*position: relative;*/
}

#reader-controls{
    width: 56%;
    padding-top:4px !important;
    padding-bottom:4px !important;
    position: absolute;
    z-index: 1;
    text-align: center;
    /*display:inline-block !important;*/
    /*background-color: rgb(158,158,158);*/
    background-color: rgba(64,64,64,1);
    box-shadow: 5px 5px 2px #555555;
}

#reader-canvas{
    width: 100%;
    height: 100% !important;
    position: relative;
    display:inline-block !important;
}

#left-div{
    float:left;
    width:44% !important;
    height: 100%;
    position: relative;
    background-color: #878787;
}

#left-upper-div{
    height: 100%;
    width:100%;
    position: relative;
    margin-bottom:4px;
    margin-top:4px;
}

#left-lower-div{
    height:0%;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-top: 2px;
    width: 74%;
}

#concept-map-div{
    height: 99% !important;
    width: 99% !important;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    /*padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    z-index:98;
}

#vis-div{
    float:right;
    width:   24%;
    height: 100%;
    position: relative;
    background-color: #878787;
    z-index: 99;
    /*overflow-y: auto;*/
}

#vis-comp-div{
    float:right;
    width:30%;
    height: 100%;
    position: relative;
    background-color: #878787;
    /*overflow-y: auto;*/
}

#toc-div{
    float:left;
    width:  70%;
    height: 96%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    margin: 5px;
    background-color: rgba(255,255,255,1);
    padding:10px;
    border-radius: 10px;
}

#toc-comp-div{
    float:left;
    width:75%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

#support-div{
    float:left;
    width: 15% !important;
    height:100%;
    overflow: auto;
    position: relative;
}

#recommendations-div{
    width:100%;
    height:50%;
    overflow: auto;
    position: relative;
}

#concepts-div{
    width:100%;
    height:50%;
    overflow: auto;
    position: relative;
}

.node rect {
  cursor: pointer;
  fill: #fff;
  /*stroke: #3182bd;
  stroke-width: 1.5px;*/
}

.toc-section text{
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}

/*.toc-section.active text{
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    fill: #003cb3 !important;
    font-size: 16px;
}*/

.node text {
  pointer-events: none;
}

.toc-section{
    cursor:pointer !important;
}

#svg-vis-comp{
    position:relative;
    display: inline-block;
    /*height:100%;*/
}

#svg-vis{
    position: relative;
    display: inline-block;
    /*height:100%;*/
}

.textualquestion{
    width: 90%;
    resize: none;
    margin-bottom: 30px;
}

.quiz-btn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 16px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 15px;
  background: #ff7e1c;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
  float:right;
  margin-right:20px;
  width: 120px;
  opacity: 1;
}

.quiz-btn:hover {
  background: #e87903;
  text-decoration: none;
}

.quiz-btn:disabled {
  /*background: #c5c5c5;*/
  text-decoration: none;
  opacity: 0.65;
  cursor: not-allowed;
}

.quiz-btn:disabled:hover {
  background: #ff7e1c;
  text-decoration: none;
  opacity: 0.65;
  cursor: not-allowed;
}

.submit-btn:disabled {
  /*background: #c5c5c5;*/
  text-decoration: none;
  opacity: 0.65;
  cursor: not-allowed;
}

.next-btn{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 16px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 15px;
  background: #2069d6;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
  float:right;
  margin-right:20px;
  width: 100px;
  cursor: pointer;
  opacity: 1;
}

.previous-btn{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 16px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 15px;
  background: #2069d6;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
  float:left;
  margin-left:10px;
  width: 100px;
  cursor: pointer;
  opacity: 1;
}

.next-btn:hover, .previous-btn:hover{
  background: #1c5099;
  text-decoration: none;
}

.next-btn:disabled, .previous-btn:disabled {
  /*background: #c5c5c5;*/
  text-decoration: none;
  opacity: 0.65;
  cursor: not-allowed;
}

.next-btn:disabled:hover, .previous-btn:disabled:hover {
  background: #2069d6;
  text-decoration: none;
  opacity: 0.65;
  cursor: not-allowed;
}

.title-current-section{
    margin-top: 6px;
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-shadow: 0.5px 0.5px #000000;
}

.blurred{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  width: 100px;
  height: 100px;
}

.no-feedback-img{
    content: url("../img/transparent.png");
    width:20px;
    height:20px;
    display: inline-block;
}

.correct-feedback-img{
    content: url("../img/correct.png");
    width:20px;
    height:20px;
    display: inline-block;
}

.incorrect-feedback-img{
    content: url("../img/incorrect.png");
    width: 20px;
    height: 20px;
    display: inline-block;
}

p.question-statement{
    display: inline-block !important;
}

.partition rect{
    cursor: pointer;
    /*stroke: #4E5255;*/
    /*stroke-width: 1px;*/
}

.d3-tip {
  line-height: 1;
  /*font-weight: bold;*/
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-size: 11px !important;
  transform: translate(40%,0%);
  z-index:1000;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  /*text-align: center;*/
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 10%;
}

.close{
    float: right;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
}

.vis-title{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    /*margin: auto;*/
    fill: white;
    text-shadow: 1px 1px #000000;
    /*fill: ;rgba(58, 58, 58, 0.88);*/
}

.text-label{
    /*font-weight: bold;*/
    background-color: blue;
    font-size: 8px;
    text-shadow: 1.5px 1.5px #000000;
    fill: white;
}

/*.corrects-bar{*/
    /*stroke: black;*/
    /*stroke-width: .5px;*/
    /*border-radius: 0px 10px 10px 0px;*/
/*}*/

/*.incorrects-bar{*/
    /*stroke: black;*/
    /*stroke-width: .5px;*/
    /*border-radius: 0px 10px 10px 0px;*/
/*}*/

#loader{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2;
}/* Specify a stack order in case you're using a different order*/

#right {
    border-color: red;
    border-width: 2px;
    width: 200px;
    bottom: 20px !important;
    height: 85% !important;
    border-radius: 6px;
    z-index:999;
}
#right .handle {
    background-color: red;
    height: 32px;
    padding-top:3px;
    padding-bottom:3px;
}
#right-subpanel {
  height: 100%;
  overflow-y:auto;
}

#right-smart-content, #right-wiki-links {
    border-color: green;
    border-width: 2px;
    width: 200px;
    /* bottom: 20px !important; */
    height: 55% !important;
    border-radius: 6px;
    z-index:999;
}

#right-smart-content .handle {
    background-color:green;
    height: 32px;
    padding-top:3px;
    padding-bottom:3px;
}

#right-wiki-links .handle{
    background-color:violet;
    height: 32px;
    padding-top:3px;
    padding-bottom:3px;
}


#left-panel-ratings{
    float:right;
    width:50%;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
}

#manual-link{
    color: white;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    text-decoration: none;
}

#manual-link:hover{
    color: #ff7e1c;
}

.activity{
    position: relative;
    display: inline-block;
    margin-left: 20px;
    -webkit-filter: drop-shadow(5px 5px 5px #d3d3d3);
    filter: drop-shadow(5px 5px 5px #d3d3d3);
}

.activity:hover{
    cursor: pointer;
}

#assignment-img{
    margin-left: 5px;
    vertical-align: bottom;
    cursor: pointer;
}
